// Cores
$cor-fundo-1: #F5EFE6;
$cor-fundo-2: #E8DFCA;

$cor-fonte-1: #113457;

$cor-botao-1: #113457;
$cor-botao-2: #ffffff;
$cor-botao-3: #1b4f83;

// Tamanhos Fontes
$size-fonte-titulo: 3rem;

$size-fonte-botao: 1.8rem;

$size-font-card-1: 2rem;
$size-font-card-2: 1.4rem;
$size-font-card-3: 1.7rem;
$size-font-card-1-2: 4rem;
$size-font-card-2-2: 2rem;
$size-font-card-3-2: 1.8rem;

$size-font-form-1: 2rem;
$size-font-form-2: 1.5rem;

// Tamanhos Imagens
$size-icon-card-1: 48px;
$size-icon-card-2: 20px;

$size-icon-form-1: 25px;