@import '../../styles/abstract/variaveis';

.Button{
    width: 14rem;
    margin: 1rem;
    background: $cor-botao-1;
    color: $cor-botao-2;
    font-size: $size-fonte-botao;
    font-weight: bold;
    padding: 1rem;
    border: none;
    border-radius: 25px;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background .3s;
    &:hover{
        background: $cor-botao-3;
    }
}